.scrumReport {
    height: 80px;
    padding: 85px 250px;
    color: #0e0405;
    background-color: #AAFCB8;
}

.fileuploadtxt {
    width: 60%;
    height: 200px;
    float: right;
    background-color:#AAFCB8;
    color: #0e0405;
    padding: 2%;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

label{
    float: left;
    width: 380px;
    text-align: right;
}

.scrumText{
    float: left;
    margin: 3px;
    width: 160px;
}
